* {
    font-family: Arial, Helvetica, sans-serif
}

.hamburger-icon-inactive {
    width: 30px;
    height: 2px;
    background-color: #333;
    position: relative;
    margin: 30px 15px;
    transition: transform 0.75s ease;
}

.hamburger-icon-inactive:before, .hamburger-icon-inactive:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.75s ease;
}

.hamburger-icon-inactive:before {
    top: -8px;
}

.hamburger-icon-inactive:after {
    bottom: -8px;
}

.hamburger-icon-active {
    width: 30px;
    height: 2px;
    background-color: #333;
    position: relative;
    margin: 30px 15px;
    transition: transform 0.75s ease;
    transform: rotate(45deg);
}

.hamburger-icon-active:before {
    top: -8px;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.75s ease;
    transform: translateY(8px) rotate(90deg);
}

.hamburger-icon-active:after {
    bottom: -8px;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.75s ease;
    transform: translateY(-8px) rotate(90deg);
}

.menu-toggle {
    cursor: pointer;
}

.menu-items-visible {
    display: block;
    animation: slide-in 1s ease forwards;
}

.menu-items-invisible {
    display: none;
    animation: slide-in 1s ease reverse forwards;
}

.nav-and-page-flex {
    display: flex;
}

.nav-and-page-block {
    display: block;
}

.navbar-narrow {
    animation: slide-in 2s ease forwards;
}

@keyframes slide-in {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}